.specials{
    padding: 2rem 0;
}

.specials h1, h5{
    font-family: 'Markazi Text', serif;
}

.specials h5{
    font-size: 1.5rem;
}

.menu-btn {
  background-color: #F4CE14;
  color: #000;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-family: 'Markazi Text', serif;
}

.menu-btn:hover {
  background-color: #e6bc10;
  color: #000;
}

.order-btn{
    font-family: 'Markazi Text', serif;
    background-color: #495E57;
    font-weight: bold;
}

.order-btn:hover {
  background-color: #59766c;
}