body {
  margin: 0;
  font-family: Karla, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item{
  font-family: 'Markazi Text', serif;
  font-size: 1.5rem;
}

footer{
  font-family: Karla, sans-serif;
  background-color: #495E57;
}

